html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, sans-serif;
    font-size: 8pt;
    font-size: 2.75vw;
}

h1 {
    text-align: center;
    font-size: 12pt;
    font-size: 5vw;
}

a {
    cursor: pointer;
    color: #0074D9;
    text-decoration: none;
}

.container {
    display: block;
    margin: 0 auto;
}

.svg-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.svg-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
}

.intro {
    position: relative;
}

.quotes {
    font-style: italic;
    text-align: center;
    line-height: 1;
    font-weight: 0;
}

.info-panel {
    display: block;
    margin: 0 1em 0 1em;
    margin: 0 2vw 0 2vw;
    padding: 0.5em 1.5em 0.5em 1.5em;
    padding: 1vw 4vw 1vw 4vw;
    max-height: 25vh;
    overflow: scroll;
    background: #f9f9f9;
    border: 1px solid lightgray;
    border-radius: 30px;
    border-radius: 6vw;
    visibility: hidden;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    font-style: italic;
    line-height: 2em;
}

.count {
    font-weight: bold;
}

.credits {
    font-size: 6pt;
    text-align: center;
    margin-top: 1em;
    display: block;
}

/* Mobile only settings */
@media screen and (max-width: 480px) {
}

/* Desktop only settings */
@media screen and (min-width: 480px) {
    html,
    body {
        font-size: 11pt;
        font-size: 1.2vw;
    }
    h1 {
        font-size: 18pt;
        font-size: 3vw;
    }
    .svg-container {
        position: relative;
        width: 60%;
        padding: 0;
        float: left;
    }
    .svg-content {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .sidebar {
        position: relative;
        width: 30%;
        margin-right: 5%;
        line-height: 1.5;
        float: right;
    }
    .intro {
        position: absolute;
    }
    .info-panel {
        max-height: 50%;
        margin: 0 auto;
        padding: 0.5em 1.5em 0.5em 1.5em;
        padding: 1vh 2vw 1vh 2vw;
        border-radius: 4vw;
        visibility: hidden;
        position: absolute;
    }
}
