body {
    font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, sans-serif;
    font-size: 11pt;
}
h1 {
    text-align: center;
    font-size: 24pt;
}
a { 
    cursor: pointer; 
    color: #0074D9;
    text-decoration: none; 
}
.container {
    display: block;
    margin: 0 auto;
    max-width: 1250px;
}
svg {
    display: inline-block;
    width: 60%;
    float: left;
}
.sidebar {
    width: 35%;
    border-radius: 50px;
    padding-top: 5em;
    display: inline-block;
    margin-right: 5%;
    float: right;
    line-height: 1.5;
    position: relative;
}
.search {
    padding-top: 1em;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.intro {
    position: absolute;
}
.quotes {
    font-style: italic;
    text-align: center;
    line-height: 1;
    font-weight: 0;
}
.info-panel {
    max-height: 700px;
    background: #f9f9f9; /*#E5E5E5;*/
    border: 1px solid lightgray;
    border-radius: 30px;
    
    display: block;
    margin: 0 auto;
    padding-top: 0.1em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;

    visibility: hidden;
    position: absolute;
}
ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    font-style: italic;
    line-height: 2em;
    font-size: 10pt;
}
.count {
    font-weight: bold;
}
.credits {
    text-align: center;
    font-size: 9pt;
}